.menu {
  margin-top: 8px;
  color: #526581;
  cursor: pointer;
  &-part {
    padding: 10px 0px 10px 10px;
    height: 40px;
    border-radius: 8px;
    gap: 12px;
    display: flex;
    align-items: center;
    color: #526581;
    list-style: none;
    text-decoration: none;
    i {
      color: #526581;
    }
    &.active {
      background: dodgerblue;
      color: white;
      i {
        color: #fff;
      }
      .menu-link {
        span {
          width: 100px;
          font-weight: 600;
          color: #fff;
        }
        svg {
          path {
            fill: white;
          }
        }
      }
    }
    .menu-link {
      display: flex;
      width: max-content;
      gap: 10px;
      svg {
        path {
          fill: #526581;
        }
      }
      span {
        font-weight: 600;
        font-size: 17px;
        width: 120px;
        color: #526581;
      }
    }
    article {
      cursor: pointer;
      margin-left: auto;
    }
  }
  .acardion {
    padding: 16px 0px 16px 16px;
    height: 150px;
    overflow-y: scroll;
    p {
      border-bottom: 1px solid #999;
      padding: 0 5px 5px 5px;
      line-height: 25px;
    }
  }
}
