.circle-parcent {
  margin-top: 80px;
  .skill {
    width: 160px;
    height: 160px;
    position: relative;

    .outor {
      height: 160px;
      width: 160px;
      border-radius: 50%;
      padding: 20px;
      box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);

      .inner {
        height: 120px;
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        .number {
          font-family: 600;
          color: #555;
        }
      }
    }
    svg {
      position: absolute;
      left: 0;
      top: 0;
      circle {
        fill: none;
        transition: 0.3s ease-in-out;
        stroke: url(#GradientColor);
        stroke-width: 20px;
        stroke-dasharray: 440;
        stroke-dashoffset: var(--circle-parcent);
        transform: rotate(-90deg);
        transform-origin: center;
        animation: anim 1s linear forwards;
      }
    }
  }
}
