.ceils {
  display: grid;
  grid-template-columns: repeat(3, 90px);
  padding: 1px;
  background-color: #ddd;
  width: max-content;
  gap: 1px;
  .ceil {
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 90px;
    font-size: 20px;

    svg {
      width: 40px;
    }
  }
}
