@import "./app.scss";
@import "./content.scss";
@import "./menus.scss";
@import "./menu.scss";
@import "./navbar.scss";
@import "./user.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
